body{
    background-color: rgb(129, 129, 159);
}

.heading h1{
    text-align: center;
    font-size: 40px;
}
#clockContainer {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin: auto;
}

#hour, #minute, #second {
  position: absolute;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%, 0);
  background: black;
  border-radius: 10px;
}

#hour {
  width: 1%;
  height: 24%;
  top: 26%;
}


#minute {
  width: 1%;
  height: 30%;
  top: 20%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 36%;
  top: 14%;
  opacity: 0.8;
}
